* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.navbar {
    width: 100%;
    height: 50px;
    background: #232323;
    text-align-all: center;
    position: fixed;
    top: 0;
}

.navbar_center {
    width: 60%;
    margin: auto;
}

.navbar_center_left {
    color: #cccccc;
}

.navbar_center_left li {
    margin-right: 50px;
    float: left;

}

.navbar_center_right li {
    float: right;
    margin-right: 100px;
}

li {
    list-style: none;
}

li a {
    color: #cccccc;
    font-size: 15px;
    /*text-align: center;*/
    line-height: 50px;
    /*color: gold;*/
}

#navigation_activity_active_id a {
    color: gold;
!important;
}

.content {
    width: 70%;
    margin: auto;
    background-color: white;
    /*height: 1300px;*/
}
.content h1{
    height: 100px;
    line-height: 100px;
}

.content .row{
    display: flex;
}


.content .row img {
    margin-left: 25px;
    margin-bottom: 0;
    width:90px;
    height: 90px;
    margin-right: 700px;
}

.content .row .row_left a {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    font-size: 21px;
    color:  #0d71bb;
}

.content .row .row_right a{
    margin-top: 10px;
    float: right;
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.content .row:hover{
    cursor: pointer;
    background-color: #e0e0e0;
}

.content .button {
    float: right;
}

.content .button a {
    margin: 15px;
    font-size: 20px;
}

.top {
    height: 80px;
}

.bottom {
    height: 100px;
}
