* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background-image: url(../images/competition.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar {
    width: 100%;
    height: 50px;
    background: #232323;
    text-align-all: center;
}

.navbar_center {
    width: 60%;
    margin: auto;
}

.navbar_center_left{
    color: #cccccc;
}
.navbar_center_left li {
    margin-right: 50px;
    float: left;

}

.navbar_center_right li {
    float: right;
    margin-right: 100px;
}
li {
    list-style: none;
}
li a{
    color: #cccccc;
    font-size: 15px;
    /*text-align: center;*/
    line-height: 50px;
}
.start{
    width: 15%;
    float: left;
    margin-top: 160px;
    margin-left: 80px;
}
.start p{
    font-size: 40px;
    margin-top: 30px;
    color: white;
}
.start p:hover{
    margin-left: 40px;
    cursor: pointer;
}
#navigation_competition_active_id a{
    color: orange;!important;
}